name: My First Workflow
on:
  push
jobs:
    first_job:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Listing and Displaying Content
        run: |
          echo "Happy to Start Learning Github Actions !!"
          ls -lart
          cat README.md